/*scroll*/
::selection{
  background:#895ffc;
  color:#fff;
  text-shadow:none;
}
::-webkit-scrollbar{
  width:10px;
  background-color:#F5F5F5;
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment{
  display:none;
}
::-webkit-scrollbar-track-piece{
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  background-color:#dedede;
}
::-webkit-scrollbar-thumb:vertical{
  border-radius:0px;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
  background-image:linear-gradient(#294073,#294073);
}
/*body*/
body{
  overflow-x:hidden;
  font-family:'Poppins';
  /* background-color: #000; */
}
h5{
  font-family:'Poppins';
}
.btn{
  font-family:'Poppins';
}
*:hover,*:focus,*{
  outline:none!important;
}
.overflw{
  overflow:hidden;
}
[class^="box-"]{
  display:none
}
[class^="box-"].showfirst{
  display:block
}
img{
  max-width:100%;
  height:auto;
}
a:hover, button:hover{
  -webkit-transition:all 0.4s ease-In-out;
  -moz-transition:all 0.4s ease-In-out;
  -o-transition:all 0.4s ease-In-out;
  transition:all 0.4s ease-In-out;
}
/*padding*/
.pad{
  padding:0;
}
.padL{
  padding-left:0;
}
.padR{
  padding-right:0;
}
.pad-top-80{
  padding-top: 80px !important;
}
.pad-top{
  padding-top: 60px;
}
.pad-btm-30{
  padding-bottom:30px;
}
.pad-btm{
  padding-bottom:50px;
}
.pad-btm-70{
   padding-bottom:70px;
}
.pad-tb{
  padding: 90px 0;
}
.pad-140-0 {
  padding: 140px 0 0;
}
.padtb-190-120{
  padding: 190px 0 120px;
}
.padtb-100-0{
  padding: 100px 0 0;
}
.pad-tbm{
  padding: 50px 0;
}
.padbtm-120{
  padding-bottom: 120px;
}
.padbtm-40{
  padding-bottom: 40px;
}
.padRt-60{
   padding-right: 60px;
}
.padRt-100{
   padding-right: 100px;
}
.pad-LR30{
  padding: 0 30px;
}
.pad-80-240{
  padding: 80px 0 240px;
}
.mt-50{
   margin-top: 50px;
}
.mt-140{
  margin-top: 140px;
}
.mt-35{
   margin-top: 35px;
}
.mt-18 {
  margin-top: 18px;
}
.mt-20{
  margin-top: 20px;
}
.mt-5{
  margin-top: 5px !important;
}
/*botton*/

.btn{
  height: 52px;
  border: 1px solid #294073;
  font-size: 25px;
  background-color: #294073;
  padding: 0px 40px;
  border-radius: 0;
  font-family: 'Montserrat';
  vertical-align: middle;
  z-index: -1;
  font-weight: 600;
  line-height: 50px;
}
.btn-a{
  background-color:#294073;
  border:2px solid #294073;
  border-radius:20px;
  color:white;
  padding:5px 20px;
  text-decoration:none;
  font-size:16px;
  font-weight:500;
  cursor:pointer;
  display:inline-block;
  text-transform:uppercase;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
.btn-a:hover{
  background:transparent;
  color:#222222;
}
.btn-submit {
  font-size: 24px !important;
  letter-spacing: .2px;
  color: #fff !important;
  width: 250px !important;
  border-radius: 0 !important;
  line-height: 14px;
  font-weight: 400;
  text-transform: capitalize !important;
  margin: 10px 0 0 !important;
  border: 1px solid #294073 !important;
    background-color: #294073 !important;
}
.btn-submit:hover {
  border: 1px solid #294073;
  color: #294073 !important;
  background: transparent !important;
}
.btn-read {
   color: #fff;
   padding: 0 60px !important;
   text-transform: capitalize;
}
.btn-read:hover, .btn-request:hover, .btn-requestnow:hover{
  background-color: transparent !important;
  border: 1px solid #294073;
  color: #294073;
}
.btn-request {
   font-size: 34px !important;
   color: #fff;
   text-transform: capitalize;
   padding: 0 40px !important;
   height: 70px !important;
}
/*heading*/
.m1-h h5{
  font-size: 150px;
  text-transform:capitalize;
  color:#fff;
  font-weight:600;
  position:relative;
  font-family:'Poppins';
}
.m1-h h5 span{
  font-weight:400;
  font-size: 44px;
}
.m2-h h5{
  font-size:55px;
  text-transform:capitalize;
  color:#294073;
  font-weight:600;
  position:relative;
  font-family:'Poppins';
}
.m2-h h5 span{
  border-bottom: 3px solid #294073;
  text-transform: capitalize;
}
.m3-h h5 {
   color: #294073;
   font-weight: 600;
   font-family: 'Poppins';
   text-transform: capitalize;
   font-size: 25px;
   margin: 15px 0;
}
.m4-h h5 {
   color: #fff;
   font-family: 'Poppins';
   text-transform: capitalize;
   font-size: 20px;
   margin: 25px 0 30px;
   font-weight: 600;
   line-height: 26px;
}
.m5-h h5 {
    font-weight: 600;
    color: #294073;
    font-size: 36px;
    text-transform: capitalize;
    font-family: 'Poppins';
}
.m5-h h5 span {
 border-bottom: 3px solid #fff;

}

.m6-h h5{
  font-weight: 600;
    color: #294073;
    font-size: 48px;
    text-transform: capitalize;
    font-family: 'Poppins';
}
.m6-h h5 span{
  border-bottom: 2px solid #ccc;
}
/*paragrape*/
.p1 p{
  font-size: 16px;
  color:#585858;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 0.5px;
  font-family: 'Poppins';
}
.p2 p{
   font-size: 14px;
   color: #9d9d9d;
   line-height: 26px;
   font-weight: 400;
}
.p3 p {
  color: #fff;
  line-height: 26px;
  font-weight: 500;
  font-size: 14px;
  font-family:'Poppins';
}
.p4 p {
  font-size: 15px;
  font-weight: 400;
  color:#585858;
  font-family:'Poppins';
  line-height: 22px;
}
.p5 p {
  color: #585858;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0;
  font-family: 'Poppins';
  font-size: 10px;
}
.p6 p {
  color: #585858;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0;
  font-family: 'Poppins';
  font-size: 12px;
}
.p7 p {
  font-size: 18px;
    color: #414141;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 0;
    font-family: 'Poppins';
    text-transform: capitalize;
    margin: 0px 0 0 30px;
}
.pmb p {
   margin: 0 0 20px;
}
.last-childp p:last-child{
   margin-bottom: 0 !important;
}
/* Heights */
.heightVH-100{
  height: 100vh !important;
}
/* Font size */
.font-16{
  font-size: 16px !important;
}
/* Hamburger Menu */
.menu-Bar{
  width:40px;
  height:20px;
  cursor:pointer;
  position:absolute;
  right:30px;
  top:0;
  bottom:0px;
  margin:auto;
  z-index: 999999;
  display:none;
}
.menu-Bar span{
  display:block;
  height:4px;
  width:100%;
  background: #fff;
  position:absolute;
  transition:.6s all;
  border-radius:100px;
}
.menu-Bar.open span {
  border-radius: 0 !important;
}
.menu-Bar span:nth-child(1){
  top:0;
}
.menu-Bar span:nth-child(2){
  top:10px;
  transform-origin:left;
}
.menu-Bar span:nth-child(3){
  top:20px;
}
.menu-Bar.open span{
  background:#343434;
}
.menu-Bar.open span:nth-child(1){
  transform:rotate(45deg);
  top:12px;
  transform-origin:right-center;
}
.menu-Bar.open span:nth-child(2){
  width:0;
  opacity:0;
}
.menu-Bar.open span:nth-child(3){
  transform:rotate(-45deg);
  top:12px;
  transform-origin:right-center;
}
/*top-header*/
/*header*/
.header.stickyHeader {
  background: #253a68;
  position: sticky;
}
.header.stickyHeader .logo img {
  width: 250px;
}
.header.stickyHeader .menu-Bar {
  width: 35px;
  right: 50px;
}
.customRow{
  width: 100%;
    max-width: 77.77778rem;
    margin: 0 auto;
}
header{
  padding: 15px 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
}
.logoHeader{
  width: 400px !important;
  height: auto !important;
}
ul.menu{
  display: block;
    margin-left: 0.83333rem;
    margin-right: 0.83333rem;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}
a .subtitle{
  position: absolute;
    top: -40px;
    opacity: 0;
    display: table;
    font-weight: 500;
    text-transform: initial;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Poppins';
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
a:hover .subtitle {
  top: 0px;
  opacity: 1;
}
ul.menu>li a:hover  {
  color: #294073;
} 
ul.menuSmall>li a:hover  {
  color: #343434;
}
.menuSmall {
  float: right;
  height: 100%;
    margin: 30% 0 0;
}
.menuSmall li a {
  font-size: 1.5rem;
    line-height: 1.3rem;
    color: #294073;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Poppins';
    letter-spacing: 2.5px;
    display: table;
}
ul.menu>li{
  display: block;
    margin: 20px 0;
    text-align: left;
}
ul.menu>li:last-child{
  margin-right:0;
   /* margin: 0 0 0 30px; */
}
ul.menu>li>a{
  letter-spacing: 0;
    border-bottom: 2px solid transparent;
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
    color: #343434;
    font-weight: 700;
    display: table;
    padding-bottom: 10px;
    padding-top: 30px;
    margin-bottom: 20px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    overflow: hidden;
    font-family: 'Poppins';
    min-width: 350px;
}
ul.menu>li.active a {
   border-bottom: 2px solid #fff;
}
ul.menu>li>a:hover {
   border-bottom: 2px solid #fff;
}
/*main-banner*/
.mainBanner{
  background-size: cover;
  background-position:center;
  height:100vh;
  background-repeat:no-repeat;
  display:flex;
  align-items:center;
  position:relative;
  z-index: 999;
}
.about-banner{
  background-size: cover;
    background-position: center;
    height: 95vh;
    background-repeat: no-repeat;
    align-items: center;
    position: relative;
    z-index: 999;
}
.teamBanner{
  background-size: contain !important;
    background-position: right !important;
}
.services-banner{
  height: auto;
}
.services-banner::after{
  content: "";
    width: 100%;
    height: 100%;
    background: #000000e0;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: 0 auto;
}
.z-index-3{
  z-index: 3;
}
/* .who-banner{
  height: 95vh;
} */
.bannerHeight-60{
  height: 60vh;
}
.inner-ban:after {
   display: none;
}
.ban_hdn h5{
  text-align:center;
  position:relative;
  padding-bottom: 15px;
}
.ban_hdn h5::after{
  content:'';
  height:3px;
  bottom: 0;
  margin:0 auto;
  left:0;
  right:0;
  width: 361px;
  position:absolute;
  background:#fff;
}
.inner-ban {
   height: 60vh;
}
.miss-ban {
   height: 75vh;
}
.ban-txt .fa-play{
   color: transparent;
   font-size: 40px;
   background: #fff;
   border-radius: 100px;
   width: 65px;
   height: 65px;
}
.ban-txt .fa-play::before {
   color: #000;
   line-height: 65px;
   margin: 0 0 0 10px;
}
video#myVideo {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   top: 0;
   margin: 0 auto;
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: 99;
}
.z-9 {
   z-index: 999;
   position: relative;
}
.mainBanner:after {
   content: "";
   width: 100%;
   height: 100%;
   background: #00000059;
   position: absolute;
   z-index: 2;
   top: 0;
   bottom: 0;
   margin: 0 auto;
}
/*main-banner End*/
/*index-page*/
/* ATFA START*/
.at-h h5{
  position:relative;
  text-align:center;
  margin-bottom: 35px;
  padding-bottom: 19px;
}
.at-h h5::after{
  content:'';
  height:3px;
  margin:0 auto;
  bottom:5px;
  left:0;
  right:0;
  width:33%;
  position:absolute;
  background:#c49c4f;
}
.at_p p{
   text-align: center;
}
.pic_wrap{
  display:flex;
  padding-bottom: 40px;
}
/* About CSS */
.aboutAbsolute{
  position: absolute;
  top: 30%;
  left: 0;
}
.upload-btn-wrapper{
  position:relative;
  display:inline-block;
}
/*set-template-css-end*/
/*footer start*/
footer{
  background-color:#000;
  padding: 30px 0 40px;
}
.ftNumber {
  font-size: 25px;
  border: 1px solid #fff;
  padding: 15px 30px;
  font-family: 'Poppins';
  color: #fff;
  font-weight: 500;
}
.footerBorder {
  border-bottom: 2px solid #fff;
  padding: 30px 0;
  margin: 0 0 30px;
}
.copyright.text-center {
   font-size: 14px;
   padding-top: 30px;
   padding-bottom: 30px;
   color: #fff;
   background: #000;
}
.copyright.text-center p {
  text-transform: capitalize;
}
.pageLink li a {
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  line-height: 30px;
  font-weight: 400;
}
.portfolioFT li {
  display: inline-block;
  max-width: 50%;
  float: left;
  padding: 0 15px 0 0;
  width: 50%;
  margin: 0 0 15px;
}
/*footer end*/

.menu-Bar{
  display:block;
  top:0px;
}
.menuWrap.open{
  display:flex;
  /* top:0px; */
  /* visibility: visible; */
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}
.menuWrap{
  position:fixed;
  overflow-y: auto;
  left:0;
  right:0;
  /* top:-200%; */
  bottom:0;
  margin:auto;
  background:#fff;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-flow:column;
  z-index: 9999;
  width:100vw;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
    transition: -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
    /* visibility: hidden; */
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
/* Services CSS */
.singleService {
  border: 3px solid #fff;
  border-radius: 7px;
  padding: 80px 50px 60px;
  transform: translate(0, -50px);
  border-top: none;
}
.singleService::before {
  content: "";
  width: 25%;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: -1;
  border: 2px solid #fff;
  border-top-left-radius: 20px;
}
.singleService::after {
  content: "";
  width: 25%;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: -1;
  border: 2px solid #fff;
  border-top-right-radius: 20px;
}
/* Our Services */
.our-banner {
  background-size: contain;
  background-position: right;
  height: auto;
  background-repeat: no-repeat;
  align-items: center;
  position: relative;
  z-index: 999;
}
.single-service{
  margin: 50px 0;
}
.inlineReadmore {  
  color:#585858;
  text-transform: capitalize;
  font-size: 16px;
  text-decoration: underline;
  margin: 0 0 0 5px;
  font-weight: 600;
  border: none;
  background: no-repeat;
  letter-spacing: .2px;
  transition: all 1s ease-in-out;
}
.seeMore{
  font-size: 25px;
  text-decoration: underline;
  color: #294073;
  font-weight: 600;
  text-transform: capitalize;
}
/* Single Service CSS  */
.swo-bx h5{color:#253a68;margin-bottom:10px;font-size: 29px;}
.swo-lst{}
.swo-lst>li{padding:15px 0;border-bottom:2px solid #dfdfdf;border-style:dashed;}
.swo-bx{margin-bottom:30px;}
.swo-lst>li a{font-size:16px;color:#484848;}
.ser-r h5{color:#253a68;margin-bottom:10px;}
.ser-r p{margin-bottom:20px;}
.ser-r h6{color:#253a68;font-size:29px;font-weight:600;font-family:'Rajdhani',sans-serif;margin-bottom:15px;}
.ser-r a{margin-bottom:10px;display:block;font-size:12px;text-decoration:underline;color:#484848;}
.ser-rimg{margin-bottom:25px;}
/*media-quries*/
@media (max-width:1440px){
}
@media (max-width:1200px){
   /* .menu-Bar{
      display:block;
      top:0px;
  }
   .menuWrap.open{
      display:flex;
      left:0px;
  }
   .menuWrap{
      position:fixed;
      left:-210%;
      right:0;
      top:0;
      bottom:0;
      margin:auto;
      background:#294073;
      height:100vh;
      display:flex;
      align-items:center;
      justify-content:center;
      flex-flow:column;
      transition:all 0.4s ease;
      z-index: 9999;
      width:100vw;
  }
   .menuWrap .menu li{
      display:block;
  }
   .menuWrap .menu li a{
      margin-bottom:10px;
      padding:0;
      display:block;
      margin-bottom:30px;
      padding-right:0px;
      margin-right:0px;
      color:#fff;
      font-size:25px; 
      text-transform:capitalize;
       
  }*/
   .container{
      position:relative;
  }
   /* header .header-top{
      display:none;
  }
   header .main-header ul.menu>li{
      display:block;
      padding:0px;
  }
   header .main-header ul.menu>li a{
      color:#fff;
      padding:0px;
      text-align: center;
  }
   header .main-header ul.menu>li a:before{
      display:none;
  } */
}
@media (max-width:980px){
   .icn-ctn{
      margin-left:10px;
  }
   .icn-ctn h5{
      margin-left:10px;
      text-align:left;
  }
   .icn-ctn p{
      margin-left:10px;
  }
   .icn{
      height:51px;
      margin-left:10px;
  }
   section.team{
      padding-top:50px;
  }
   .btn-a{
      margin-bottom:20px;
  }
   .pic{
      margin-bottom:35px;
  }
   footer{
      padding-bottom:60px;
  }
}
@media (max-width:824px){
}
@media (max-width:767px){
  .menuSmall {
    float: left !important;
    margin: 0 !important;
}
  #accordion button {
    white-space: inherit;
    line-height: 22px;
  }
  #accordion .card{
    margin: 0 0 20px !important;
  }
  .teamBanner {
    background-size: cover !important;
    background-position: center !important;
    text-align: center;
}
.heightVH-100 {
  height: auto !important;
}
  .who-banner img{
    margin: 30px 0 0;
    padding: 0 15px;
  }
  .nav.nav-tabs {
    float: none;
    display: contents;
}
  .carousel-indicators {
    bottom: 10px !important;
}
  .carousel-inner .row {
    margin: 0 0 !important;
}
  .card{
    margin: 0 0 80px !important;
  }
  header .col-md-4.text-center {
    text-align: left;
}
  .footerBorder img {
    margin: 0 0 30px;
}
  .footerBorder .text-left, .footerBorder .text-right {
    text-align: center;
}
  .singleClientdis{
    margin: 0 0 30px;
  }
  .who-banner .mt-140 {
    margin-top: 0px;
}
  .who-banner .container-fluid.pad {
    padding-right: 30px;
    padding-left: 30px;
}
  .padtb-190-120 {
    padding: 80px 0 80px !important;
}
  .about-banner{
    height: auto;
  }
  .about-banner img{
    margin: 20px 0 0;
  }
  .flexRevert{
    flex-wrap: wrap-reverse
  }
  .padRt-100 {
    padding-right: 0 !important;
}
  .aboutAbsolute {
    position: relative;
    top: 0;
    left: 0;
}
  .customWidth{
    width: 100% !important;
  }
  .checkbox label {
    margin: 5px 15px !important;
}
  .portfolioBorder{
    padding: 40px !important;
  }
  .listStyle li{
    font-size: 16px !important;
  }
  .whoBanner {
    height: 40vh !important;
  }
  .pad-LR30 {
    padding: 0 5px;
}
  .m5-h h5{
    font-size: 32px;
  }
  .topUl li, .bottomUl li{
    width: 100% !important;
  }
   header {
    padding: 0 0 5px;
    height: 70px;
  }
   .last-childp p:last-child {
       margin-bottom: 15px !important;
  }
   .last-childp p{
       text-align: center;
  }
   .width-37 h5:after {
       width: 62% !important;
  }
   .Homecontact .m3-h h5 {
       margin: 30px 0 0 !important;
  }
   .Homecontact{
       text-align: center;
  }
   footer{
       text-align: center;
  }
   .request .m1-h h5{
       font-size: 34px;
  }
   .ATFA .col-md-4 img {
       margin: 0 0 30px;
  }
   .btn-request {
       font-size: 22px !important;
       padding: 0 36px !important;
       height: 60px !important;
  }
   .m1-h h5 span {
       font-size: 26px;
  }
   .at-h {
       padding-bottom: 0;
  }
   .padRt-60{
       padding-right: 0 !important;
  }
   .btn {
       border: 1px solid #000;
  }
   ul.menu>li:last-child{
       margin: 0;
  }
  a.logo img{
    width: 60%;
    padding-top: 10px;
    display: inline-block;
    pointer-events: initial;
    color: #ffffff;
    font-size: 4rem;
    line-height: initial;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 99999;
  }
  .menu-Bar {
    display: block;
    top: 50px;
}
   .m1-h h5{
      font-size:55px;
  }
   .mainBanner{
      height:60vh;
  }
   .m2-h h5{
      font-size:40px;
  }
   .pad-tb{
      padding:40px 0;
  }
   .at-h h5{
      margin-bottom:20px;
      padding-bottom:10px;
  }
   .p1 p{
      font-size:16px;
      line-height:20px;
  }
   .p1 p br{
      display:none;
  }
   .gp-h{
      padding-bottom:20px;
  }
   .t_ctn,.t_ctnR{
      padding-bottom: 8px;
      text-align:center;
  }
   .t_ctn p{
      font-size:16px;
      line-height:20px;
  }
   .t_ctnR h5::after{
      left:0;
      margin:auto;
  }
   .t_ctn h5{
      padding-bottom: 10px;
  }
   section.team{
      padding-top:30px;
  }
   .t_ctnR h5{
      padding-bottom:10px;
  }
   .flogo img{
      width:50%;
  }
   .flogo{
      text-align:left;
      margin-bottom:20px;
  }
   .f_t::before{
      display:none;
  }
   .f_t{
      position:relative;
      padding-left:0;
  }
   .f-list>li a{
      font-size:20px;
  }
   .f-list>li p{
      font-size:18px;
      line-height:21px;
  }
   .f-list>li{
      margin-bottom:10px;
  }
   .copyright.text-center{
      font-size:16px;
  }
   footer{
      padding:15px 0;
  }
   ul.menu>li.active a{
      border-bottom:0;
  }
   .ab-pic{
      text-align:center;
      margin-bottom:20px;
  }
   .ms-pic{
      text-align:center;
      padding-top:20px;
  }
   .pad-tbm{
      padding:20px 0;
  }
   ul.Military>li{
      display:block;
      width:100%;
  }
   ul.Military{
      padding-top:20px;
  }
   .omni-bx h5{
      display:block;
  }
   .omni-bx span{
      margin-bottom:15px;
  }
   .cteam-ctn{
      width:100%;
      text-align:center;
  }
   .cteam-img{
      width:100%;
      text-align:center;
      padding-top:20px
  }
   .cteam-img img{
      margin:auto;
      width:50%
  }
   .omni-bx h5:after{
      width:90px;
  }
   .at-h h5 br{
      display:none;
  }
   .our-h h5{
      line-height:27px;
  }
   .jus-ctn h5:after{
      right:0;
  }
   .jus-img{
      margin-bottom:20px;
  }
   .Tec-ctn h5::after{
      right:0;
      left:0;
  }
   .t_ctnR p{
      font-size:16px;
      line-height:20px;
  }
   .one-half{
      width:100%;
  }
   .one-half:nth-child(2n){
      margin-bottom:20px;
  }
   .upload input[type="text"]{
      width:63%;
  }
   ul.menu>li{
      margin-right:0;
  }
   .menuWrap .menu li a{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    min-width: auto;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 30px;
  }
  .menuSmall li a{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    min-width: auto;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 15px;
  }
  .menuSmall{
    margin-left: 0.83333rem !important;
    margin-right: 0.83333rem !important;
  }
  .customRow{
    margin: -55% auto 0;
  }
   .an-c h5:after {
       width: 120px;
  }
   .ban_hdn h5::after {
       width: 190px;
  }
   .gu h5:after {
       width: 175px;
  }
   .t_ctn h5::after {
       width: 150px;
  }
   .t_ctn h5::after {
       right: 0;
       left: 0;
       margin: auto;
  }
   ul.menu>li>a {
       border-bottom: none;
       line-height: 2;
  }
   ul.menu>li.active a {
       border-bottom: none;
  }
   ul.menu>li>a:hover {
       border-bottom: none;
  }
   .inner-ban .ban_hdn h5::after {
       width: 90px;
  }
   .inner-ban {
       height: 20vh;
  }
   .Tec-ctn h5::after {
       width: 270px;
  }
}
@media (min-width:320px) and (max-width:340px){
  .whychooseList li::after {
    transform: skew(63deg) !important;
  }
  .whychooseList li.last::after {
    border-left: 145px solid transparent !important;
    border-right: 145px solid transparent !important;
    border-top: 120px solid #c49c4f !important;
    bottom: -120px !important;
    transform: none !important;
  }
}
@media (min-width:341px) and (max-width:365px){
  .whychooseList li::after {
    transform: skew(66deg) !important;
  }
  .whychooseList li.last::after {
    border-left: 165px solid transparent !important;
    border-right: 165px solid transparent !important;
    border-top: 120px solid #c49c4f !important;
    bottom: -120px !important;
    transform: none !important;
  }
}
@media (min-width:366px) and (max-width:380px){
  .whychooseList li::after {
    transform: skew(66deg) !important;
  }
  .whychooseList li.last::after {
    border-left: 172px solid transparent !important;
    border-right: 172px solid transparent !important;
    border-top: 120px solid #c49c4f !important;
    bottom: -120px !important;
    transform: none !important;
  }
}
@media (min-width:381px) and (max-width:415px){
  .whychooseList li::after {
    transform: skew(69deg) !important;
  }
  .whychooseList li.last::after {
    border-left: 190px solid transparent !important;
    border-right: 190px solid transparent !important;
    border-top: 120px solid #c49c4f !important;
    bottom: -120px !important;
    transform: none !important;
  }
}
/* Socail Icons */
.socialIcon li span {
   color: #000;
   width: 40px;
   height: 40px;
   background: #fff;
   border-radius: 50px;
   text-align: center;
   line-height: 40px;
   border: 1px solid #fff;
   font-size: 18px;
}
.socialIcon li span:hover {
  -webkit-transition: all 0.4s ease-In-out;
  -moz-transition: all 0.4s ease-In-out;
  -o-transition: all 0.4s ease-In-out;
  transition: all 0.4s ease-In-out;
  background: transparent;
  color: #fff;
}
.socialIcon li {
   display: inline-block;
   margin: 0 10px 0 0;
}
.socialIcon {
   margin: 15px 0 0;
}
/* END */
/* Social Icon Inner page */
.socialIconinner li{
  display: inline-block;
  margin: 0 5px;
}
.socialIconinner span {
  color: #294073;
  font-size: 20px;
}
/* Who we are */
.whoBanner{
  background-size: cover;
  background-position:center;
  height:80vh;
  background-repeat:no-repeat;
  display:flex;
  align-items:center;
  position:relative;
  z-index: 999;
}
/* Form Page */
.customWidth {
  width: 20%;
  padding: 0 15px;
  display: inline-block;
}
.customWidth .custom_radio {
  display: inline-block;
  margin: 0 5px;
}
.customWidth label{
width: 100%;
}

/* Our Team */
.singleMember{
  position: relative;
  margin: 60px 0 0;
}
.singleMember img {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translate(0, -100px);
  border-radius: 50%;
  max-width: 65%;
  border: 6px solid #fff;
}
.singleMemberDis {
  background: #e9ecf1;
  padding: 120px 20px 40px;
  z-index: 1;
}
.singleMemberDis:hover{
  background: #294073;
}
.singleMemberDis:hover .p8 p, .singleMemberDis:hover .p6 p, .singleMemberDis:hover ul span{
  color: #fff;
}
/* .singleMemberDis .p6 {
  margin: 20px 0 0;
} */
.singleMemberDis ul span {
  color: #294073;
  font-size: 20px;
}
.singleMemberDis ul li {
  display: inline-block;
  margin: 0 5px;
}
.singleMemberDis .fa-facebook-f{
  background:transparent !important;
}
.singleMemberDis .fa-linkedin{
  background:transparent !important;
}
.singleMemberDis .fa-twitter{
  background:transparent !important;
}
/* carosel css */
.carousel-indicators li{
  background-color: #294073 !important;
}
.carousel-inner .row{
width: 100%;
}
.carousel-indicators li{
  background-color: #294073 !important;
  border-radius: 50px;
  width: 15px !important;
  height: 15px;
  flex: 0 0 auto !important;
}
.carousel-indicators .active {
  background-color: #fff !important;
  border: 2px solid #294073;
}
.carousel-indicators{
  bottom: -30px;
}
.carousel-item {
  padding: 120px 0 0;
}
/* client Reviews */
.card {
  box-shadow: 0 1px 15px #00000026;
  padding: 0 30px 50px;
  border: 1px solid rgb(0 0 0 / 2%) !important;
}
.card-img-top {
  transform: translate(0, -45px);
  max-width: 120px;
}
.card-body {
  margin: -25px 0 0;
}
.card-title{
  font-family:'Poppins';
  font-size: 15px;
  color: #294073;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}
/* Tabs */
.nav.nav-tabs{
  float: right;
  display: contents;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-link, .nav-tabs{
  border: none !important;
}
.nav-tabs a {
  font-size: 16px;
  text-transform: capitalize;
  color: #585858;
  font-weight: 600;
  position: relative;
  font-family: 'Poppins';
  letter-spacing: .2px;
  margin: 5px 0 0;
  display: inline-block;
    width: auto;
    padding: 5px 12px;
}
.nav-tabs .nav-link.active{
  color: #294073;
}
/* According */
#accordion .card {
  padding: 0;
  box-shadow: none;
  border: none !important;
}
#accordion button {
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
  height: auto;
    border: 1px solid #ccc;
    margin: 0 0 5px;
  text-decoration: none;
  outline: none !important;
  box-shadow: none !important;
}
#accordion .card-header{
  padding: 0;
}
#accordion .card-body {
  margin: 5px 0;
  padding: 15px 15px 30px;
  border: 1px solid #ccc;
  line-height: 24px;
}
#accordion button h5 {
  font-size: 18px;
  font-weight: 400;
  color: #294073;
  text-align: left;
  padding: 5px 15px;
}
#accordion .card-header{
  border: none;
}
/* contact form */
.contactForm input, .contactForm textarea {
  width: 100%;
  margin: 0 0 20px;
  border-radius: 0;
  border: 1px solid #294073;
  font-family: 'Poppins';
  padding: 19px 15px;
}
.contactForm textarea{
  height: 120px;
}
.contactForm input::placeholder, .contactForm textarea::placeholder{
  color: #294073;
  font-family: 'Poppins';
}
/* Review Page */
.review-banner {
  background-size: cover;
    background-position: center;
}
.singleClientimg {
  text-align: center;
  padding: 100px 0;
  border: 3px solid #294073;
}
/* Index CSS */
.customWidthdis {
  width: 25%;
  height: 100vh;
  background-size: cover;
  position: relative;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  transform: scale(1);
}
.customWidthdis.hover {
  /* width: 40%; */
  transform:scale(1.2);
  z-index: 99;
}
.customWidthdis::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #00000059;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}
.more {display: none;}
/* Contact page */
.addressDis span {
  font-size: 30px;
  float: left;
}
.addressDis:hover, .addressDis:hover p  {
  color: #294073;
}
.addressDis {
  display: inline-block;
}
.formDis input, .formDis textarea {
  width: 100%;
  margin: 0 0 20px;
  padding: 15px;
  border: 2px solid #294073;
  background: transparent;
  font-family:'Poppins';
  color: #294073;
  font-weight: 500;
}
.formDis input::placeholder, .formDis textarea::placeholder {
  color: #294073;
  font-family:'Poppins';
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 20px;
}
.formDis textarea {
  height: 20vh;
}
/* read more js css */
.show-read-more .more-text{
  display: none;
}
  .read-more {
    color: #585858;
    text-transform: capitalize;
    font-size: 16px;
    text-decoration: underline;
    margin: 0 0 0 5px;
    font-weight: 600;
    border: none;
    background: no-repeat;
    letter-spacing: .2px;
    transition: all 1s ease-in-out;
}